<!DOCTYPE html>
<html lang="fr">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Sekilam Boutique</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sekilam Boutique</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Accueil <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Vêtements</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Accessoires</a>
      </li>
      
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </div>
</nav>

            </div>

        </div>
    
    </div>







<a href="{% url 'index' %}">

    <h1></h1>

 </a>

 {% if  user.is_authenticated %}
    {{ user.username }}
    <a href="{% url 'logout' %}">Deconnexion</a

{% else %}
    <a href="{% url 'login' %}">Connexion</a>
    <a href="{% url 'signup' %}">S'inscrire</a>

{% endif %}

{% if user.cart %}

<p>
    <a href="{% url 'cart' %}">Voir le panier ({{ user.cart.orders.count }})</a>
</p>


{% endif %}

{% block content %}
    

{% endblock  %}

<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card text-center">
 
  <div class="card-body">
    <h5 class="card-title">Sekilam Boutique</h5>
    <p class="card-text">Tous droits réservéfa-spin</p>
    <a href="#" class="btn btn-primary">Voir plus</a>
  </div>
  <div class="card-footer text-muted">
    2022
  </div>
</div>
            </div>
        </div>
</div>
</body>
</html>